<div id="show-view-avatar" class="avatar show-user-avatar">
  <%= render "user_avatar", user: @user %>
</div>
<div class="username profile-page-username">
  <%= @user.username %>
</div>

<div id="follow-container-<%= @user.id %>" class="follow-button-container">
  <%= render "follow_button", user: @user %>
</div>

<div class="profile-page-posts">
  <% @user.posts.each do |post| %>
    <%= render "posts/post", post: post %>
  <% end %>
</div>

