<%= form_with(model: post, data: {controller: 'post-form'}, class: 'new-post') do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.textarea :content,
                      value: post[:content],
                      placeholder: "What's happening?",
                      data: {
                        'post-form-target': 'textInput',
                        'action': 'input->post-form#textChanged'
                      },
                      maxlength: 280,
                      class: 'bg-dark' %>
  </div>
  <img id="preview" style="height: 300px; display: none;" data-post-form-target="filePreview" />
  <div class="form-footer">
    <%= label_tag 'image-upload', style: 'cursor: pointer' do %>
      <i class="bi bi-card-image fa-3x" title="Attach an Image"></i>
    <% end %>
    <%= form.file_field :image, 
                        value: post[:image],
                        id: 'image-upload',
                        data: {
                          'post-form-target': 'fileInput',
                          'action': 'change->post-form#fileChanged'
                        },
                        style: 'display: none;' %>
    

    <%= form.submit value: "Post", 
                    data: {
                      'post-form-target': 'submitButton'
                    },
                    class: 'btn submit-button pointer',
                    title: 'Publish the Post.',
                    disabled: true %>
  </div>
<% end %>
