<% if incoming_follow_requests.length > 0 %>
  <div>Incoming Pending Requests</div>
<% end %>
<% incoming_follow_requests.each do |request| %>

  <div class="user-item-request" id="user_<%= request.follower.username.parameterize %>">

    <%= image_tag(gravatar_avatar_url(request.follower.email)) %>
    <%= link_to request.follower.username, profile_path(request.follower.username) %>

    <span id="follow_<%= request.follower_id %>" class="request-action">
      <%= render "incoming_requests_buttons", request: request %>
    </span>
    
  </div>

<% end %>
