<%= render @post %>

<%= render "comments/form", comment: @comment %>

<%= render "comments/index", comments: @post.comments %>

<div>
  <%= link_to "Back to posts", posts_path %>
  <% if @post.author == current_user %>
    <%= button_to "Delete this post", @post, method: :delete %>
  <% end %>
</div>
